[submodule "janus/vim-multiple-cursors"]
	path = janus/vim-multiple-cursors
  url = https://github.com/terryma/vim-multiple-cursors.git
  ignore = dirty
[submodule "janus/vim-rails"]
	path = janus/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "janus/ctrlp-cmatcher"]
	path = janus/ctrlp-cmatcher
	url = https://github.com/JazzCore/ctrlp-cmatcher.git
